@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital@0;1&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Russo+One&display=swap');

@font-face {
    font-family: 'Tokeely Brookings Schatten';
    src: url('fonts/TokeelyBrookingsSchatten.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}


body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #E6E6E6;
    background-color: #0E1F30;
    margin: 0;

}

a {
    text-decoration: none;
    color: #E6E6E6;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Шапка сайта */
.header {
    background-color: #1f1f1f;
}

.container {}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

.header_nav {}

.header_list {
    display: flex;
    gap: 15px;
}

.header_icons {
    display: flex;
    gap: 20px;
}

.header_icons a:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header_icon_telephone {
    width: 15px;
    height: 13px;
}



/* ШАПКА С МЕНЮ */
.menu {}

.container {}

.menu .container {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu_logo {
    width: 50px;
    height: 50px;
}

.menu_list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.menu_list li:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
}

.menu_list li {}

.menu_toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: #e0e0e0;
    cursor: pointer;
}

.overlay_menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #183755, #3c5e8a);
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay_menu_list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.overlay_menu_list li {
    margin: 20px 0;
}

.overlay_menu_list a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s;
}

.overlay_menu_list a:hover {
    color: #ffd700;
}

/* Затемнение фона */
.overlay_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

/* Показываем затемнение, когда активно меню */
.overlay_bg.active {
    display: block;
}

/* Мобильное меню */
.overlay_menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: white;
    z-index: 999;
    padding: 20px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    flex-direction: column;
}

.overlay_menu.active {
    display: flex;
}

/* ОСНОВНАЯ ИНФА */
.welcome {
    background-image: url("./image/welcome_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 20px;
    text-align: left;
}

.welcome .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.welcome_text {
    margin-bottom: 50px;
}

.welcome_title {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0;

    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 96px;
    text-transform: uppercase;
    color: #fff;
}

.welcome_subtitle1 {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;

    padding: 0;
    margin-top: 0;
    margin-bottom: 18px;
    margin-left: 14px;
}

.welcome_subtitle2 {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;

    padding: 0;
    margin-top: 0;
    margin-bottom: 18px;
    margin-left: 14px;
}

.open-btn {
    background-color: #e0e0e0;
    color: black;
    text-transform: uppercase;
    width: 220px;
    height: 40px;

    font-weight: 400;

    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    /* Скруглённые края */
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 14px;
}

.modal-content h2,
.modal-content label,
.modal-content input,
.modal-content button {
    color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 8% auto;
    padding: 25px;
    width: 90%;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: left;
}

.modal-content h2 {
    margin-top: 0;
    text-align: center;
}

.modal-content input {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal-content button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #0E1F30;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #0E1F30;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

.error-message {
    color: red;
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Почему стоит выбрать нас? */
.title1 {
    text-align: center;
    margin: 40px 0;

    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    color: #e6e6e6;
}

.whyus {
    background-image: url("./image/Why_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 20px;
}

.whyus {}

.whyus .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.whyus .container>div {
    padding: 20px;
    border-radius: 12px;
    color: #E6E6E6;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


.text1 {}

.text2 {}

.text3 {}

.text4 {}

.whyus-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #79c8c0
}

.whyus-desc {
    color: #EEEEEE;
}

/* mointains */
.mountains {
    background-image: url("./image/mountains_1.png");
    background-position: center;
    min-height: 148px;
}

/* one day tours */
.Onedaytours {
    background-color: #000000;
}

.Onedaytours .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.onedaytourstitle1 {
    display: flex;
    justify-content: center;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    text-transform: lowercase;
    color: #fff;
    margin-bottom: 0;
}
.onedaytourstitle2{
    margin: 0;
}
.onedaytourdesc1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filter-buttons button {
    background-color: #F0F0F0;
    color: #333;
    width: 150px;
    height: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.filter-buttons button:hover {
    background-color: #183755;
    color: #fff;
}

.filter-buttons button.active {
    background-color: #183755;
    color: #fff;
}


/* cards */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #1f1f1f;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-title {
    margin: 0 0 10px;
    font-size: 20px;
    color: #fff;
}

.card-desc {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 15px;
}

.card-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D9D9D9;
    color: #1B1919;
    text-transform: uppercase;
    border-radius: 50px;
    text-decoration: none;
    transition: opacity 0.3s;
}

.card-btn:hover {
    opacity: 0.7;
}

/* Стиль для кнопки "Показать больше" */
#loadMoreBtn {
    display: block;
    padding: 10px 20px;
    background-color: #183755;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    cursor: pointer;
}

#loadMoreBtn:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
}

.card-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#showLessBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #183755;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    cursor: pointer;
}

#showLessBtn:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
}

/* extreme tours */
.extreme-tours {
    background: linear-gradient(180deg, #000000, #230D0D, #121212);
    color: #fff;
    padding: 60px 20px;
    font-family: 'Segoe UI', sans-serif;
}

.extreme-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.extreme-subtitle {
    text-align: center;
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 40px;
    color: #ccc;
}

.tour-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.tour-card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #333;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    transition: transform 0.3s ease;
}

.tour-card:hover {
    transform: translateY(-5px);
}

.tour-card img {
    height: 200px;
    margin-top: 40px;
    margin-bottom: 15px;
}

.tour-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #f24444;
}

.tour-card p {
    font-size: 14px;
    color: #ddd;
    line-height: 1.4;
    margin-bottom: 20px;
}

.tour-card .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8b0000;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: background 0.3s ease;
}

.tour-card .btn:hover {
    background-color: #b22222;
}

/* about us */
.aboutus {
    display: flex;
    background-color: #121212;
    color: #fff;
}

.aboutus .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
}

.aboutustitle {
    font-family: 'Tokeely Brookings Schatten', sans-serif;
}

.aboutusdesc {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #fff
}

/* footer */
.footer {
    background: #121212;
    border-top: #FFFFFF 1px solid;
    color: #f0f0f0;
    padding: 40px 20px 20px;
    font-family: 'Montserrat', sans-serif;
}

.footer .container {
    margin: 0 auto;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.footer-left .logo {
    max-width: 100px;
}

.footer-contact p {
    margin: 0;
    font-size: 14px;
    color: #ccc;
}

.footer-links {
    display: flex;
    justify-content: center;
    /* Центрирует по горизонтали */
    align-items: center;
    /* Центрирует по вертикали, если нужно */
    gap: 20px;
    flex-wrap: wrap;
    /* Чтобы на маленьких экранах не ломалось */
    text-align: center;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.footer-links .up {
    width: 24px;
    height: auto;
}


.footer-links a:hover {
    color: #ff914d;
}


.footer-links .up:hover {
    transform: translateY(-5px);
}

.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
    color: #bbb;
    text-align: center;
}

.footer-bottom a {
    color: #ff914d;
    text-decoration: none;
    margin: 0 5px;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.footer-bottom p {
    margin: 5px 0;
}

@media (min-width: 1440px) {
    /* Стили для десктопов */
}

@media (min-width: 1025px) and (max-width: 1439px) {
    /* Стили для ноутбуков */
    .header {
        padding: 0 20px;;
    }
    .header .container {
        justify-content: space-between;
    }
    .menu{
        padding: 0 20px;
    }
    .mountains {
        min-height: 90px;
        background-size: contain;
    }
    .onedaytourstitle1 {
        font-size: 50px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    /* Стили для планшетов */
    .header {
        padding: 0 20px;;
    }
    .header .container {
        justify-content: space-between;
    }

    .menu_list {
        display: none;
    }

    .menu_toggle {
        display: block;
    }
    .menu{
        padding: 0 20px;
    }
    .menu .container {
        display: flex;
        padding: 5px;
    }
    .mountains {
        display: none;
    }

    .onedaytourstitle1 {
        font-size: 40px;
    }

    .filter-buttons {
        gap: 5px;
    }

    .filter-buttons button {
        padding: 0;
        width: 120px;
        height: 35px;
    }

    .title1 {
        font-size: 20px;

    }

    .footer-left {
        display: flex;
        gap: 10px;
    }

    .welcome {
        padding-top: 0;
    }

    .welcome_title {
        font-size: 70px;
    }

    .welcome_subtitle1 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .welcome_subtitle2 {
        font-size: 15px;
    }

    .open-btn {
        font-size: 10px;
        width: 180px;
        height: 30px;
    }

    .whyus {
        padding: 0;
    }

    .whyus .container {
        gap: 10px;
    }

    .whyus-title {
        font-size: 15px;
    }

    .whyus-desc {
        font-size: 10px;
    }

    .extreme-title {
        font-size: 25px;
    }
    .aboutusdesc {
        font-size: 15px;
    }
    .aboutustitle {
        font-size: 30px;
    }
}


@media (max-width: 768px) {

    /* Стили для мобильных */
    .menu_list {
        display: none;
    }

    .menu_toggle {
        display: block;
        font-size: 15px;
    }

    .overlay_menu_list a {
        font-size: 15px;
    }

    .header {
        display: none;

    }

    .menu_logo {
        width: 35px;
        height: 35px;
    }

    .h4logo {
        font-size: 10px;
        margin: 0px;
    }

    .welcome {
        padding: 10px;
    }

    .welcome_title {
        font-size: 30px;
        margin-left: 14px;
    }

    .welcome_subtitle1 {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .welcome_subtitle2 {
        font-size: 9px;
        font-weight: 300;
        margin-bottom: 0;
    }

    .open-btn {
        padding: 0;
        font-size: 8px;
        width: 95px;
        height: 20px;
    }

    .title1 {
        font-size: 15px;
        margin: 10px;

    }

    .whyus {
        padding: 0;
    }

    .whyus .container {
        gap: 5px;
    }
    .whyus .container>div{
        padding: 5px;
    }

    .whyus-title {
        font-size: 10px;
    }

    .whyus-desc {
        font-size: 10px;
    }

    .mountains {
        display: none;

    }

    .onedaytourstitle1 {
        margin: 15px;
        font-size: 25px;
    }

    .filter-buttons {
        gap: 5px;
        flex-wrap: wrap;
    }

    .filter-buttons button {
        padding: 0;
        width: 86px;
        height: 22px;
        font-size: 12px;
    }

    .extreme-title {
        font-size: 20px;
    }

    .extreme-subtitle {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .aboutusdesc {
        font-size: 10px;
    }

    .footer-left {
        display: flex;
        flex-direction: row;
        gap: 10px;
    
    }

    .footer-left .logo {
        max-width: 50px;
    }

    .footer-left p {
        font-size: 8px;
    }

    .footer-links {
        gap: 5px;
    }

    .footer-links a {
        font-size: 12px;
    }

    .footer-bottom p {
        font-size: 7px;
    }

    p img {
        width: 7px;
    }
    .footer-content {
        gap: 10px;
    }
    .aboutus .container {
        margin-top: 0;
        margin-bottom: 20px;
    }
}